.gameContainer__tiles {
  column-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  padding: 30px;
}

.gameContainer_winMessage {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

img {
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.restartGame {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  align-items: flex-start;
}
