.setTiles {
  column-gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  padding: 30px;
}

button {
  box-shadow: -4px -4px 0 0 black;
}

.setTiles button {
  border: none;
  box-shadow: none;
}

.winner {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.winner button {
  box-shadow: none;
}
.playerTurn {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.playerOne {
  color: red;
  text-decoration: underline;
}
.playerTwo {
  color: yellow;
  text-decoration: underline;
}
